.about {
  padding-bottom: 41px;
}

.about__heading {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .about {
    padding-bottom: 70px;
  }

  .about__heading {
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .about {
    padding-bottom: 69px;
  }
  
  .about__heading {
    margin-bottom: 17px;
  }
}

@media (min-width: 1920px) {
  .about__text {
    max-width: 1080px;
  }
}
