.catalog__text {
  display: none;
}

/* Accordion */

.catalog__accordion {
  width: 100%;
  height: auto;

  display: block;
}

.catalog__accordion-list-content {
  display: block;

  width: 100%;
  height: auto;

  border-top: 1px solid #cacaca;

  transition: border-color 0.3s ease-in-out;
}

.catalog__accordion-list-content:last-child {
  border-bottom: 1px solid #cacaca;
}

.catalog__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: none;
  cursor: pointer;

  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
}

.ui-state-active {
  border-bottom: 1px solid #cacaca;
}

.catalog__accordion-header.ui-accordion-header-active
  > .catalog__accordion-btn {
  transform: rotateX(180deg);

  background-color: #d1a9f0;
  border-color: #9d5cd0;
}

.catalog__accordion-header:hover {
  border-color: #9d5cd0;
}

.catalog__accordion-header:hover .catalog__accordion-header-text {
  color: #9d5cd0;
}

.catalog__accordion-list-content:hover {
  border-color: #9d5cd0;
}

.catalog__accordion-list-content:hover + .catalog__accordion-list-content {
  border-top-color: #9d5cd0;
}

.catalog__accordion-header:hover .catalog__accordion-btn {
  background-color: #d1a9f0;
}

.catalog__accordion-list-content:focus {
  outline: none;
  border: none;
}

.catalog__accordion-header:focus {
  outline: none;
}

.catalog__accordion-header:focus .catalog__accordion-header-text {
  background-color: #9d5cd0;
  color: #ffffff;
}

.catalog__accordion-header:focus > .catalog__accordion-btn {
  background-color: #d1a9f0;
}

.catalog__accordion-header:active .catalog__accordion-list-content {
  border-color: #7943a4;
}

.catalog__accordion-header:active .catalog__accordion-header-text {
  color: #7943a4;
  background: none;
}

.catalog__accordion-header:active .catalog__accordion-btn {
  background-color: #d1a9f0;
  border-color: #9d5cd0;
}

.catalog__accordion-header-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;

  transition: color 0.3s ease-in-out;
}

.catalog__accordion-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ececec;
  min-width: 30px;
  min-height: 30px;

  border: 2px solid #ececec;
  border-radius: 50%;

  transition-property: background-color, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-information {
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog__accordion-information-empty {
  display: flex;
}

.catalog__accordion-information-empty-img {
  border: 2px solid #b7b7b7;

  height: max-content;

  padding: 6px 6px 0px 6px;
  margin-right: 25px;
}

.catalog__accordion-information-empty-content {
  max-width: 174px;
}

.catalog__accordion-information-empty-heading {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;

  margin-bottom: 5px;
}

.catalog__accordion-information-empty-text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin-bottom: 5px;
}

.catalog__accordion-information-link {
  display: block;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;

  cursor: pointer;
}

.catalog__accordion-information-empty-link {
  font-weight: 600;
  color: var(--middle-pink);
}

.catalog__artist {
  display: none;

  padding-top: 50px;
}

.tab-content-active {
  display: block;
  animation-name: tabSwitched;
  animation-duration: 0.4s;
}

@keyframes tabSwitched {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.catalog__artist-img-container {
  margin-bottom: 10px;
}

.catalog__artist-img {
  width: 100%;
}

.catalog__artist-name {
  margin-bottom: 14px;
}

.catalog__artist-date {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;

  margin-bottom: 6px;
}

.catalog__artist-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.catalog__artist-link {
  font-weight: 600;
  color: #9d5cd0;
}

.catalog__artist-link:nth-child(1) {
  display: none;
}

@media (min-width:420px) {
  .catalog__accordion-information-list {
    display: block;

    column-count: 2;
    column-gap: 58px;
    column-fill: auto;

    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .catalog {
    padding-top: 80px;
  }

  .catalog__text {
    display: block;

    margin-bottom: 20px;
  }

  .catalog__accordion-header {
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .catalog__accordion-header-text {
    font-size: 24px;
  }

  .catalog__accordion-btn {
    min-width: 50px;
    min-height: 50px;
  }

  .catalog__accordion-btn svg {
    width: 18px;
    height: 18px;
  }

  .catalog__accordion-information-list {
    display: block;

    column-count: 3;
    column-gap: 58px;
    column-fill: auto;

    padding-top: 5px;
    padding-bottom: 4px;
  }

  .catalog__accordion-information-empty {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .catalog__accordion-information-empty-img {
    padding: 12px 12px 8px 12px;
  }

  .catalog__accordion-information-empty-content {
    max-width: 275px;

    padding-top: 40px;
  }

  .catalog__accordion-information-link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
  }

  .catalog__artist {
    padding-top: 50px;
  }

  .catalog__artist-img-container {
    margin-bottom: 20px;
  }

  .catalog__artist-name {
    margin: 0;
    padding: 0;

    margin-bottom: 8px;
  }

  .catalog__artist-date {
    margin: 0;
    padding: 0;

    margin-bottom: 7px;
  }

  .catalog__artist-text {
    max-width: 667px;

    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .catalog__accordion {
    display: flex;
  }

  .catalog__text {
    margin-bottom: 40px;
  }

  .catalog__accordion {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .catalog__accordion-list {
    width: 50%;
  }

  .catalog__accordion-information-list {
    column-count: 2;
  }

  .catalog__accordion-information-links {
    max-height: 384px;

    padding-bottom: 25px;
  }

  .catalog__accordion-information-empty-img {
    padding: 8px 8px 4px 8px;
  }

  .catalog__accordion-information-empty-content {
    max-width: 207px;

    padding-top: 0;
  }

  .catalog__accordion-information-empty-heading {
    font-size: 24px;
    line-height: 32px;
  }

  .catalog__artist {
    width: 50%;

    padding-top: 0;
    margin-right: 50px;
  }
}

@media (min-width: 1680px) {
  .catalog__heading {
    margin-right: 39px;
  }

  .catalog__text {
    max-width: 1080px;
  }

  .catalog__artist {
    max-width: 750px;
    
    margin-right: 0;
  }

  .catalog__artist-text {
    max-width: 749px;
  }

  .catalog__accordion-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .catalog__accordion-btn {
    min-width: 50px;
    min-height: 50px;
  }

  .catalog__accordion-information-links {
    max-height: 288px;
  }

  .catalog__accordion-information-list {
    column-count: 3;
  }

  .catalog__accordion-information-empty-content {
    max-width: 275px;

    padding-top: 40px;
  }

  .catalog__accordion-information-empty-img {
    padding: 12px 12px 8px 12px;
  }
}
