.contacts {
  overflow-x: hidden;

  padding-top: 50px;
  padding-bottom: 20px;
}

.contacts__top-container {
  margin-bottom: 10px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  margin-bottom: 0;
}

.contacts__map {
  position: relative;

  min-height: 320px;

  margin-top: -1px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 17px;

  transition-property: width, height, padding;
  transition-duration: 100ms;
}

.contacts__map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__wrap,
.contacts__container {
  border: none;
}

.contacts__content {
  order: 1;
}

.contacts__content,
.contacts__map {
  width: calc(100% + 30px);
}

.contacts__subtitle-desktop {
  display: none;
}

.contacts__subtitle-mobile {
  display: block;
}

.contacts__subtitle {
  margin-bottom: 20px;
}

.contacts__subtitle-showroom {
  font-size: 18px;
  line-height: 24px;
}

.contacts__subtitle-address {
  font-style: normal;
  line-height: 19px;
}

.contacts__content-form {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.contacts__content-form-subtitle {
  font-size: 18px;
  line-height: 32px;

  margin-bottom: 17px;
}

.contacts__content-form-label {
  display: flex;
  flex-direction: column-reverse;

  width: 290px;

  margin-bottom: 20px;
}

.contacts__content-form-label-input {
  min-height: 40px;
  width: 100%;

  border: 1px solid var(--semi-dark);
  border-radius: 100px;

  color: var(--grey);

  padding-left: 24px;

  transition: background-color 0.3s ease-in-out;
}

.contacts__content-form-label-input:hover {
  background-color: #EAEAEA;
}

.contacts__content-form-label-input:focus {
  outline: none;
  background-color: #EAEAEA;
}

.js-validate-error-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--error) !important;

  padding-left: 20px;
}

.contacts__content-form-btn {
  border: 2px solid var(--middle-pink);
  border-radius: 100px;

  max-width: 128px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--middle-pink);

  padding: 10px 10px;
}

.contacts__content-form-btn:hover {
  background-color: var(--middle-pink);
  color: var(--white);
}

.contacts__content-form-btn:focus {
  outline: 2px solid var(--light-pink);
  outline-offset: 5px;
}

.contacts__content-form-btn:active {
  background-color: var(--pink);
  border-color: var(--border-hover);
  color: var(--white);
}

.contacts__content-links-subtitle {
  font-size: 18px;
  line-height: 32px;

  margin-bottom: 7px;
}

.contacts__content-link {
  display: inline-flex;
  color: transparent;
  
  margin-right: 15px;
}

.contacts__content-link:last-child {
  margin-right: 0;
}

.contacts__content-link-img {
  transition: opacity 0.3s ease-in-out;
}

.contacts__content-link:focus {
  outline: none;
}

.contacts__content-link:hover .contacts__content-link-img {
  background: none;
  border: none;
  color: transparent;
  opacity: 0.5;
}

.contacts__content-link:focus .contacts__content-link-img {
  background: none;
  border: none;
  color: transparent;
  opacity: 0.5;
}

.contacts__content-link:active .contacts__content-link-img {
  background: none;
  border: none;
  color: transparent;
  opacity: 1;
  outline: 2px solid #9643a4;
  border-radius: 100px;
}

@media (min-width: 668px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .contacts__top-container {
    margin-bottom: 14px;
  }

  .contacts__container {
    flex-direction: row;
  }

  .contacts__wrap {
    border-top: 1px solid lightgray;
  }

  .contacts__content {
    width: calc(430 / 668 * 100%);

    border-right: 1px solid lightgray;

    padding-top: 127px;
    padding-right: 20px;
    padding-bottom: 20px;

    order: 0;
  }

  .contacts__map {
    min-height: 700px;
    width: calc(338 / 668 * 100% + ((100vw - 100%) / 2));

    margin: 0;
    margin-right: calc((-100vw + 100%) / 2);
  }

  .contacts__subtitle-desktop {
    display: block;
  }

  .contacts__subtitle-mobile {
    display: none;
  }

  .contacts__subtitle {
    margin-bottom: 33px;
  }

  .contacts__subtitle-showroom {
    font-size: 24px;

    margin-bottom: 15px;
  }

  .contacts__content-form {
    margin-bottom: 39px;
  }

  .contacts__content-form-subtitle {
    font-size: 24px;
  }

  .contacts__content-form-label {
    width: 335px;

    margin-bottom: 22px;
  }

  .contacts__content-form-btn {
    font-size: 18px;

    max-width: 158px;

    padding: 19px 35px;
  }

  .contacts__content-links-subtitle {
    font-size: 24px;

    margin-bottom: 15px;
  }

  .contacts__content-link {
    margin-right: 26px;
  }

  .contacts__content-link-img {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 925px) {
  .contacts__top-container {
    margin-bottom: 17px;
  }

  .contacts__content {
    width: calc(487 / 925 * 100%);

    padding-top: 130px;
  }

  .contacts__map {
    width: calc(537 / 925 * 100% + ((100vw - 100%) / 2));
  }
}

@media (min-width: 1500px) {
  .contacts__content {
    width: calc(590 / 1600 * 100%);

    padding-top: 127px;
  }

  .contacts__map {
    width: calc(1238 / 1600 * 100% + ((100vw - 100%) / 2));
  }

  .contacts__content-form-label {
    width: 400px;
  }

  .contacts__content-link {
    margin-right: 16px;
  }

  .contacts__content-link-img {
    height: 40px;
    width: 40px;
  }
}
