.dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
}

.dropdown__wrap {
  width: 240px;
  max-height: 220px;
}

.dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.dropdown__wrap-list {
  list-style: none;
  padding-left: 0;
}

.dropdown__wrap-list-item {
  width: 220px;
}

.dropdown__wrap-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__wrap-list-item-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  color: #fff;
  height: 40px;
  background-color: #000;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border-color 0.3s ease;
}

.dropdown__wrap-list-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown__wrap-list-item-link:hover {
  border-color: var(--middle-pink);
}

.dropdown__wrap-list-item-link:focus {
  border-color: var(--middle-pink);
}

.dropdown__wrap-list-item-link:active .dropdown__wrap-list-item-link::before {
  background-color: var(--semi-pink);
  border-color: var(--light-pink);
}

.dropdown__wrap-list-item-link--tintoretto {
  background-image: url("../img/header-dropdown/tintoretto.jpg");
}

.dropdown__wrap-list-item-link--fridrih {
  background-image: url("../img/header-dropdown/fridrih.jpg");
}

.dropdown__wrap-list-item-link--leonardo {
  background-image: url("../img/header-dropdown/leonardo.jpg");
}

.dropdown__wrap-list-item-link--verroque {
  background-image: url("../img/header-dropdown/verroque.jpg");
}

.dropdown__wrap-list-item-link--mone {
  background-image: url("../img/header-dropdown/mone.jpg");
}

.dropdown__wrap-list-item-link--sisley {
  background-image: url("../img/header-dropdown/sisley.jpg");
}

.dropdown__wrap-list-item-link--mane {
  background-image: url("../img/header-dropdown/mane.jpg");
}

.dropdown__wrap-list-item-link--renoir {
  background-image: url("../img/header-dropdown/renoir.jpg");
}

.dropdown__wrap-list-item-link--van-gogh {
  background-image: url("../img/header-dropdown/van\ Gogh.jpg");
}

.dropdown__wrap-list-item-link--cezanne {
  background-image: url("../img/header-dropdown/Cezanne.png");
}

.dropdown__wrap-list-item-link--gauguin {
  background-image: url("../img/header-dropdown/Gauguin.jpg");
}

.dropdown__wrap-list-item-link--sera {
  background-image: url("../img/header-dropdown/sera.jpg");
}

.dropdown__wrap-list-item-link:active::before {
  opacity: 1;
}

.dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
