.editions {
  background-image: url("../img/editions/320px/editions__background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 49px;
}

.editions__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.editions__heading {
  color: var(--white);

  margin-bottom: 12px;
}

/* Editions Category */

.editions__category-btn {
  border-top: 1px solid #ffffff80;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;

  padding-top: 2px;
  padding-bottom: 4px;
}

.editions__btn-arrow-active {
  padding-bottom: 4px;

  transform: rotateX(180deg);
}

.editions__category-btn-heading {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}

.editions__category-content {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ffffff80;
}

.editions__category-content-item {
  border-top: 1px solid #ffffff80;

  padding-top: 8px;
  padding-bottom: 9px;

  display: none;
  align-items: center;
}

.editions__category-content-item-active {
  display: block;
}

.editions__category-content-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;

  display: flex;
  align-items: center;

  cursor: pointer;

  transition: color 0.3s ease-in-out;
}

.editions__category-content-item-active-color > .editions__category-content-label {
  color: var(--semi-pink);
}

.editions__category-content-label:hover {
  color: var(--semi-pink);
}

.editions__category-content-label:hover .editions__category-content-checkbox {
  border-color: var(--semi-pink);
}

.editions__category-content-label:focus {
  color: var(--semi-pink);

  outline: none;
}

.editions__category-content-label:active {
  color: var(--semi-pink);
}

.editions__category-content-label-title {
  transition: color 0.3s ease-in-out;
}

.editions__category-content-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;

  min-width: 12px;
  min-height: 12px;
  border: 1px solid #ffffff;

  margin-right: 12px;

  transition: border-color 0.3s ease-in-out;
}

.editions__category-content-checkbox:checked {
  background-image: url("../img/other/dot.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #c283f3;
}

.editions__category-content-checkbox:focus {
  outline: none;
  border-color: var(--semi-pink);
}

.editions__category-content-checkbox:focus ~ .editions__category-content-label-title {
  color: var(--semi-pink);
}

.editions__cross {
  display: none;

  width: 13px;
  height: 20px;

  margin-left: auto;
}

.editions__category-content-checkbox:checked ~ .editions__cross {
  display: block;
}

/* Editions Price */

.editions__category {
  margin-bottom: 18px;
}

.editions__price-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;

  margin-bottom: 8px;
}

.editions__price-form {
  display: flex;

  height: 40px;
  width: 277px;

  border: 1px solid #ffffff80;
  border-radius: 6px;
}

.editions__price-form-label {
  display: flex;
}

.editions__price-form-label-addition {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;

  padding: 4px 9px;
}

.editions__price-form-label-input {
  max-width: 73px;
  max-height: 40px;

  border: 1px solid transparent;
  background-color: #9d5cd080;

  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  padding-right: 10px;
  padding-left: 10px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.editions__price-form-label-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.editions__price-form-label-input:hover {
  background-color: var(--middle-pink);
}

.editions__price-form-label-input:focus {
  outline: none;
  background-color: var(--middle-pink);
}

.editions__price-form-label-input:active {
  background-color: var(--middle-pink);
  border-color: var(--white);
}

.editions__container-left {
  margin-bottom: 50px;
}

.editions__container-left,
.editions__swiper {
  width: 100%;
  margin-left: 0;
}

.editions__swiper {
  max-width: 290px;

  overflow: hidden;

  margin: 0 auto;
}

.editions__swiper-navigation {
  display: none;
  align-items: center;
  align-self: center;

  margin-bottom: 30px;
}

.editions__swiper-pagination {
  margin-right: 10px;
  text-align: center;
  color: var(--white);
}

.swiper-btn-prev {
  margin-right: 10px;
}

.editions__swiper-wrapper {
  flex-wrap: wrap;

  box-sizing: border-box;
}

.editions__swiper-slide {
  display: inline-block;

  width: 130px;
  height: 254px;

  overflow: hidden;

  margin-right: 30px;
  margin-bottom: 50px;
}

.editions__swiper-slide:last-child {
  margin-bottom: 0;
}

.editions__swiper-slide:nth-child(2n) {
  margin-right: 0;
}

.editions__swiper-slide-img {
  width: 100%;
}

.book-title {
  font-weight: 700;
}

.book-author {
  font-weight: 400;

  margin-bottom: 2px;
}

.book-price {
  font-style: italic;

  margin-bottom: 8px;
}

.order-btn {
  font-weight: 700;

  border: 2px solid var(--middle-pink);
  border-radius: 100px;

  width: 130px;
  height: 40px;
}

.order-btn:hover {
  background-color: var(--middle-pink);
}

.order-btn:focus {
  background-color: var(--middle-pink);
}

.order-btn:active {
  background-color: var(--pink);
  border-color: var(--semi-pink);
}

.book-title,
.book-author,
.book-price,
.order-btn {
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
}

.editions__price-container {
  width: 100%;
}

.editions__price {
  position: static;
}

@media (min-width: 480px) {
  .editions__swiper {
    max-width: 450px;
  }

  .editions__swiper-slide:nth-child(2n) {
    margin-right: 30px;
  }

  .editions__swiper-slide:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 610px) {
  .editions {
    background-image: url("../img/editions/768px/editions__background-img.jpg");

    padding-top: 84px;
    padding-bottom: 80px;
  }

  .editions__container-left {
    margin-bottom: 42px;
  }

  .editions__heading {
    margin-bottom: 17px;
  }

  .editions__category-btn {
    border: none;

    cursor: default;

    padding: 0;
  }

  .editions__category-btn-heading {
    font-size: 16px;
    line-height: 32px;
  }

  .editions__btn-arrow {
    display: none;
  }

  .editions__category-content {
    border: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    columns: 3;
    column-gap: 40px;

    overflow: hidden;

    max-height: 160px;
  }

  .editions__category-content-item {
    display: flex;
    align-items: center;
    max-width: none;

    border: none;
    padding: 0;
  }

  .editions__category-content-label {
    align-items: baseline;

    font-size: 16px;
    line-height: 32px;

    max-width: 184px;
  }

  .editions__cross {
    display: none;
  }

  .editions__category-content-checkbox:checked ~ .editions__cross {
    display: none;
  }

  .editions__category {
    margin-bottom: 25px;
  }

  .editions__price-form {
    max-width: 277px;
  }

  .editions__price-heading {
    font-size: 16px;
    line-height: 32px;
  }

  .editions__swiper {
    flex-direction: column;

    max-width: none;
  }

  .editions__swiper-navigation {
    display: inline-flex;

    width: 130px;
  }

  .editions__swiper-wrap {
    padding-right: 27px;
    padding-left: 27px;
  }

  .editions__swiper-wrapper {
    flex-wrap: nowrap;
  }

  .editions__swiper-slide {
    height: 100%;

    margin: 0;
  }

  .editions__swiper-slide-img {
    margin-bottom: 3px;
  }

  .editions__swiper-navigation {
    align-self: flex-start;
  }

  .editions__swiper-slide-content {
    position: relative;
  }

  .book-title, .book-author, .book-price, .order-btn {
    font-size: 16px;
    line-height: 21px;
  }

  .book-author {
    margin-bottom: 16px;
  }

  .book-price {
    position: absolute;
    top: 0;
    right: 0;
  }

  .order-btn {
    width: 120px;
  }
}

@media (min-width: 966px) {
  .editions {
    background-image: url("../img/editions/1024px/editions__background-img.jpg");

    padding-top: 80px;
    padding-bottom: 78px;
  }

  .editions__content-wrap {
    justify-content: flex-start;
  }

  .editions__container-left {
    width: calc(280 / 925 * 100%);

    margin-right: 15px;
    margin-bottom: 0;
  }

  .editions__category {
    max-width: max-content;

    margin-bottom: 27px;
  }

  .editions__category-content {
    max-height: none;

    flex-wrap: nowrap;
  }

  .editions__category-content-item {
    max-width: none;
  }

  .editions__category-content-label {
    max-width: none;
  }

  .editions__price {
    margin-bottom: 0;
  }

  .editions__price-heading {
    font-size: 16px;
  }

  .editions__swiper {
    width: calc(629 / 925 * 100%);

    padding-top: 27px;
    margin: 0;
  }

  .editions__swiper-wrap {
    padding-right: 0;
    padding-left: 0;
  }

  .editions__swiper-slide::before {
    padding-top: calc(100% - 6px);
  }

  .book-title {
    margin-bottom: 2px;
  }
}

@media (min-width: 1280px) {
  .editions {
    background-image: url("../img/gallery/1920px/gallery__background-img.jpg");
  }

  .editions__content-wrap {
    justify-content: space-between;
  }

  .editions__container-left,
  .editions__price-container {
    width: calc(400 / 1600 * 100%);
  }

  .editions__swiper {
    width: calc(1150 / 1600 * 100%);
  }

  .editions__swiper-slide-img {
    margin-bottom: 10px;
  }
}
