.footer {
  background-color: #000000;
}

.footer__container {
  display: flex;
  flex-direction: column;
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__links {
  margin-bottom: 20px;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;

  max-width: 210px;
  margin: 0 auto;
}

.footer__links-list {
  max-height: 50px;
}

.footer__links-list-item-link {
  display: flex;
}

.footer__links-list-item-link svg path {
  transition: fill 0.3s ease-in-out;
}

.footer__links-list-item-link:focus {
  outline: none;
}

.footer__links-list-item-link:focus svg path {
  fill: #ffffff;
}

.footer__links-list-item-link:hover svg path {
  fill: #ffffff;
}

.footer__links-list-item-link:active svg path {
  fill: #9d5cd0;
}

.footer__logo {
  max-width: max-content;
  max-height: 21px;

  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 37px;
  }

  .footer__links {
    width: 240px;
    margin-bottom: 0;
  }

  .footer__links-list {
    margin: 0;
    max-width: none;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__links-list-item-link-img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .social-img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1600px) {
  .footer__container {
    padding-top: 35px;
    padding-bottom: 42px;
  }

  .footer__links {
    width: 175px;

    padding-top: 10px;
  }

  .footer__links-list-item-link-img {
    width: 45px;
    height: 45px;
  }
}
