.hero {
  position: relative;

  height: 310px;

  overflow: hidden;

  padding-top: 0;
}

.hero__swiper {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.hero__container {
  width: 100%;
  height: 100%;

  padding-top: 30px;

  z-index: 1;
}

.hero__container-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100% - 45px);
}

.hero__swiper-wrapper-slide-1 {
  width: 100%;
  height: 100%;

  background-image: url("../img/main-banner/320px/main-banner__img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__swiper-wrapper-slide-2 {
  width: 100%;
  height: 100%;

  background-image: url("../img/main-banner/320px/main-banner__img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__swiper-wrapper-slide-3 {
  width: 100%;
  height: 100%;

  background-image: url("../img/main-banner/320px/main-banner__img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading {
  text-align: center;

  max-width: 260px;

  margin-bottom: 10px;
}

.hero__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  max-width: 270px;

  margin-bottom: auto;
}

.hero__btn {
  border-radius: 100px;
  border: 3px solid var(--middle-pink);
  background-color: #9d5cd0;

  width: 200px;
  height: 40px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;

  transition: border-color 0.3s ease-in-out;
}

.hero__btn:hover {
  border-color: var(--border-hover);
}

.hero__btn:focus {
  outline: 2px solid var(--semi-pink);
  outline-offset: 3px;
}

.hero__btn:active {
  border-color: var(--border-hover);
  background-color: var(--pink);
}

@media (min-width: 430px) {
  .hero__swiper-wrapper-slide-1 {
    background-image: url("../img/main-banner/768px/main-banner__img-1.jpg");
  }

  .hero__swiper-wrapper-slide-2 {
    background-image: url("../img/main-banner/768px/main-banner__img-2.jpg");
  }

  .hero__swiper-wrapper-slide-3 {
    background-image: url("../img/main-banner/768px/main-banner__img-3.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    height: 668px;

    padding-bottom: 0;
  }

  .hero__container {
    padding-top: 114px;
    padding-bottom: 114px;
  }

  .hero__container-content {
    align-items: flex-start;

    height: 100%;
  }

  .hero__heading {
    text-align: start;

    max-width: 600px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: start;

    max-width: 700px;

    margin-bottom: auto;
  }

  .hero__btn {
    width: 314px;
    height: 70px;

    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {

  .hero__swiper-wrapper-slide-1 {
    background-image: url("../img/main-banner/1024px/main-banner__img-1.jpg");
    background-repeat: no-repeat;
  }

  .hero__swiper-wrapper-slide-2 {
    background-image: url("../img/main-banner/1024px/main-banner__img-2.jpg");
    background-repeat: no-repeat;
  }

  .hero__swiper-wrapper-slide-3 {
    background-image: url("../img/main-banner/1024px/main-banner__img-3.jpg");
    background-repeat: no-repeat;
  }

  .hero__heading {
    max-width: 585px;

    margin-bottom: 15px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 30px;
    max-width: 661px;
  }
}

@media (min-width: 1500px) {
  .hero {
    height: 700px;
  }

  .hero__swiper-wrapper-slide-1 {
    background-image: url("../img/main-banner/1920px/main-banner__img-1.jpg");
    background-repeat: no-repeat;
  }

  .hero__swiper-wrapper-slide-2 {
    background-image: url("../img/main-banner/1920px/main-banner__img-2.jpg");
    background-repeat: no-repeat;
  }

  .hero__swiper-wrapper-slide-3 {
    background-image: url("../img/main-banner/1920px/main-banner__img-3.jpg");
    background-repeat: no-repeat;
  }

  .hero__container {
    padding-top: 141px;
    padding-bottom: 122px;
  }

  .hero__heading {
    margin-bottom: 21px;
  }

  .hero__text {
    max-width: 579px;
  }
}
