.projects__heading {
  margin-bottom: 13px;
}

.projects__text {
  font-size: 16px;
}

.tooltip {
  cursor: pointer;

  width: 16px;
  height: 16px;

  background: none;
  background-image: url("../img/other/tooltip.svg");
  background-repeat: no-repeat;

  border: none;

  padding: 0;
  margin: 0;

  transition: background 0.3s ease-in-out;
}

.tooltip:hover {
  background-image: url("../img/other/tooltip(hover).svg");
  outline: none;
}

.tooltip:focus {
  background-image: url("../img/other/tooltip(hover).svg");
  outline: none;
}

.tooltip:active {
  background-image: url("../img/other/tooltip(active).svg");
  outline: none;
}

.tippy-box[data-theme~="tomato"] {
  background-color: var(--middle-pink);
  border-color: var(--middle-pink);
  border-radius: 0;
}

.tippy-box[data-theme~="tomato"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--middle-pink);
}
.tippy-box[data-theme~="tomato"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--middle-pink);
}
.tippy-box[data-theme~="tomato"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--middle-pink);
}
.tippy-box[data-theme~="tomato"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--middle-pink);
}

.popup {
  display: none;
}

.popup-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--white);
  text-align: center;

  max-width: 220px;
}

.projects__about {
  color: #9d5cd0;
  font-weight: 600;
}

.projects__about:hover {
  text-decoration: underline;
}

.projects__about:active {
  background: none;
  color: var(--pink);
  text-decoration: underline;
}

/* Projects Partners */

.project-partners {
  padding-top: 9px;
}

.project-partners__heading {
  font-size: 18px;

  margin-bottom: 12px;
}

.project-partners__swiper-wrap {
  position: relative;

  height: 65px;
  width: 100%;
}

.project-partners__swiper {
  height: 100%;
  width: calc(195 / 290 * 100%);

  padding: 0;
}

.project-partners__swiper-wrapper-slide-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 63px;
  width: calc(100% - 3px);

  border: 1px solid var(--border);

  margin: 0 auto;

  transition: border-color 0.3s ease-in-out;
}

.project-partners__swiper-wrapper-slide-link:focus {
  outline: none;
  border-color: var(--middle-pink);
}

.project-partners__swiper-wrapper-slide-link:active {
  outline: none;
  border-color: var(--middle-pink);
}

.project-partners__swiper-wrapper-slide-link-img {
  height: 25px;

  filter: grayscale(100%);
  opacity: 0.4;

  transition: filter 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.project-partners__swiper-wrapper-slide-link:hover
  .project-partners__swiper-wrapper-slide-link-img {
  filter: grayscale(0%);
  opacity: 1;
}

.project-partners__swiper-wrapper-slide-link:active
  .project-partners__swiper-wrapper-slide-link-img {
  filter: grayscale(0%);
  opacity: 1;
}

.project-partners__swiper-button-prev {
  position: absolute;
  top: 25%;
  right: auto;
  left: 0;

  background-color: #ececec;
  border: 2px solid #ececec;
  border-radius: 20px;
}

.project-partners__swiper-button-next {
  position: absolute;
  top: 25%;
  right: 0;
  left: auto;

  background-color: #ececec;
  border: 2px solid #ececec;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .projects__heading {
    margin-bottom: 16px;
  }

  .projects__text {
    max-width: 659px;

    position: relative;
    padding-bottom: 30px;
  }

  .projects__about {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .project-partners {
    padding-top: 28px;
  }

  .project-partners__heading {
    font-size: 24px;

    margin-bottom: 30px;
  }

  .project-partners__swiper-button-prev,
  .project-partners__swiper-button-next {
    top: 35%;
  }

  .project-partners__swiper-wrap {
    height: 106px;
  }

  .project-partners__swiper {
    width: calc(562 / 668 * 100%);
  }

  .project-partners__swiper-wrapper-slide-link {
    height: 104px;
  }

  .project-partners__swiper-wrapper-slide-link-img {
    height: 38px;
  }
}

@media (min-width: 1024px) {
  .projects__heading {
    margin-bottom: 15px;
  }

  .projects__text {
    max-width: none;

    padding-bottom: 0;
  }

  .projects__about {
    position: relative;
  }

  .project-partners {
    padding-top: 20px;
  }

  .project-partners__heading {
    margin-bottom: 23px;
  }

  .project-partners__swiper-wrap {
    height: 128px;
  }

  .project-partners__swiper {
    width: calc(818 / 925 * 100%);
  }

  .project-partners__swiper-wrapper-slide-link {
    height: 126px;
  }

  .project-partners__swiper-wrapper-slide-link-img {
    height: 49px;
  }

  .project-partners__swiper-button-prev,
  .project-partners__swiper-button-next {
    top: 40%;
  }
}

@media (min-width: 1440px) {
  .projects__text {
    max-width: 1050px;
  }

  .project-partners__swiper-wrap {
    height: 150px;
  }

  .project-partners__swiper {
    width: calc(1450 / 1600 * 100%);
  }

  .project-partners__swiper-wrapper-slide-link {
    height: 148px;
  }

  .project-partners__swiper-wrapper-slide-link-img {
    height: 59px;
  }
}
