:root {
    --dark: #000;
    --semi-dark: #333;
    --white: #fff;
    --grey: #999;
    --border: #cacaca;
    --border-hover: #D1A9F0;
    --light-pink: #D1A9F0;
    --semi-pink: #c283f3;
    --middle-pink: #9D5CD0;
    --pink: #7943a4;
    --error: #D11616;
    --transparent-black: #000000e6;
}